
.container-fluid {
    max-width: 1400px;
}

.display-4 {
    font-weight: 300;
    letter-spacing: -1px;
}

.card {
    background-color: #f0f0f0;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.hover-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.image-container {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.card-img-top {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
}

.hover-card:hover .card-img-top {
    transform: scale(1.05);
}
.price-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #007bff;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}
.text-black {
    color: black; 
    font-size:23px;
}

.card-title {
    font-size: 2.25rem;
    font-weight: 500;
}

.card-text {
    color:black;
    font-size: 1.5rem;
    line-height: 1.5;
}

.service-details {
    font-size: 0.85rem;
}

.badge {
    font-weight: 500;
    padding: 0.5em 0.75em;
}

.book-now {
    transition: all 0.3s ease;
    font-weight: 500;
}

    .book-now:hover {
        background-color: #007bff;
        color: white;
    }

@media (max-width: 768px) {
    .col-md-4 {
        padding-left: 10px;
        padding-right: 10px;
    }
}
